basePath: /api/v1
definitions:
  models.Task:
    properties:
      id:
        type: integer
      title:
        type: string
    required:
    - title
    type: object
host: localhost:8090
info:
  contact: {}
  description: Task Server API
  title: Task server
paths:
  /tasks:
    get:
      description: Gets all tasks
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/models.Task'
            type: array
        "500":
          description: Internal Server Error
      summary: Gets all tasks
      tags:
      - tasks
    post:
      consumes:
      - application/json
      description: Create a task and returns it
      parameters:
      - description: Some Task
        in: body
        name: task
        required: true
        schema:
          $ref: '#/definitions/models.Task'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/models.Task'
        "400":
          description: Bad Request
      summary: Create a new Task
      tags:
      - tasks
swagger: "2.0"
